@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

html,body {
  height:100%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  font-weight: 200;
}
.navbar-brand {
  font-size: 24px;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.full-width-container {
  height: 100%;
}

.map-canvas {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 100vh;
  min-height: 100%;
}

.dl-horizontal {
  dt {
    width: 60px;
  }

  dd {
    margin-left: 100px;
  }
}

.footer {
  text-align: center;
  border-top: 1px solid rgba(189, 189, 189, 0.86);
}

body {
  overflow: hidden;
}

.navbar {
  border-bottom: 1px solid rgba(189, 189, 189, 0.86);
}
.navbar-brand {
  font-weight: 400;
  color: #B3D1FF!important;
  font-size: 24px!important;
}

.form-inline {
  margin-top: 15px;

  .form-group {
    margin-right: 10px;

    input {
      width: 60px;
    }
  }
}

.loading {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
