<div class="ferrata">
  <h2>{{model.name}}</h2>
  <div class="ferrata__column">
    <div class="ferrata__header">
      Height
    </div>
    <div class="ferrata__value">
      {{model.elevationdiff}}m
    </div>
  </div>
  <div class="ferrata__column">
    <div class="ferrata__header">
      Duration
    </div>
    <div class="ferrata__value">
      {{format-duration model.duration}}
    </div>
  </div>
</div>
