<!-- Fixed navbar -->
<nav class="header">
  <div class="header__container">
    <div class="header__logo">
      {{#link-to 'ferratas.index'}}<img src="logo.png" title="GoFerrata.com" />{{/link-to}}
    </div>

    <div class="header__geolocate">

      {{#if session.isAuthenticated}}
        Welcome logged in user! <button {{action 'invalidateSession'}}>Logout</button>
      {{else}}
        <button {{action 'facebookLogin'}}>Login with Facebook</button>
      {{/if}}

      {{#geolocate-button latitude=centerLat longitude=centerLng}}
        <i class="icon__my-location"></i>
        Geolocate
      {{/geolocate-button}}
    </div>
  </div>
</nav>

<!-- Begin page content -->
<div class="content">
  {{outlet}}
</div>

<footer class="footer">
  <div class="footer__container">
    We use data from <a href="http://klettersteig.de">klettersteig.de</a>
  </div>
</footer>
