<!-- Fixed navbar -->
<nav class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="/"><img src="logo.png" title="GoFerrata.com" /></a>
    </div>

    <div class="header__geolocate">
      {{#geolocate-button latitude=centerLat longitude=centerLng}}Zoom to nearby ferratas &raquo;{{/geolocate-button}}
    </div>
  </div>
</nav>

<!-- Begin page content -->
<div class="content">
  {{outlet}}

  <div class="search">
    <input id="search-input" class="search__input" type="text" placeholder="Search Box">
  </div>
</div>

<footer class="footer">
  <div class="footer__container">
    <form class="footer__form">
      <div class="footer__group footer__group--wide">
        <div class="footer__difficulties">
          {{#each name in difficulties}}
            {{#difficulty-button targetDifficulty=name currentDifficulties=currentDifficulties}}{{name}}{{/difficulty-button}}
          {{/each}}
        </div>
      </div>
      <div class="footer__group">
        {{range-slider max=8000 start=startHeight connect=true change="changedHeight"}}
      </div>
      <div class="footer__group">
        {{range-slider max=1000 start=startDuration change="changedDuration"}}
      </div>

    </form>
  </div>
</footer>
